<html xlmns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search</title>
<link rel="stylesheet" type="text/css" href = "css/style.css" th:href="@{/css/style.css}">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
<style>
	input[type=submit] {
		padding: 5px 20px;
		background-color: #659dbd;
		color: white;
		font-size: 1.2rem;
		border-radius: 15px;
	}

	input[type=submit]:hover {
		background-color: rgba(0,0,0,0.7);
	}
</style>
</head>
<body id = "home-background">

		<div class = "header" style = "padding: 50px">
		<img src="/images/crest.png" height = "100">
		<h1>Handler Dashboard</h1> 
		<a href = "/" class = "btn-nav">&larr; Go Back Home</a>
	</div>
	<div class = "container" style = "height: auto">
		<nav class = "navigation">
			<a href = "/addDog" class = "btn-nav">Register Contestant</a>
			<a href = "/showTable" class = "btn-nav">Contestants Table</a>
			<a href = "/breeds" class = "btn-nav">Groups</a>
			<a href = "/searchPage" class = "btn-nav">Search</a>
			<a href = "/showsPage" class = "btn-nav">Shows</a>
		</nav>
		<div id = "handler-container-inner" >
			<div style = "grid-area: main">
				<h1><span sec:authentication = "name"></span>'s list:</h1>
				<table>
					<tr>
						<th>Entry Number</th>
						<th>Name</th>
						<th>Owner Name</th>
						<th>Breed</th>
						<th>Group</th>
						<th>Gender</th>
						<th>Ranking</th>
					</tr>
					<tr th:each = "dog: ${list}">			
						<td th:text = "${dog.entryNum}"></td>
						<td th:text = "${dog.name}"></td>
						<td th:text = "${dog.ownerName}"></td>
						<td th:text = "${dog.breed}"></td>
						<td th:text = "${dog.group}"></td>
						<td th:text = "${dog.gender}"></td>
						<td th:text = "${dog.ranking}"></td>
						<td><a href="" th:href="@{/removeHandledDog/{id}(id=${dog.entryNum})}">Remove</a></td>
					</tr>
				</table>
			</div>
			<div style = "grid-area: menu1" class = "bubble">
				<h2 style = "margin-bottom: 50px">Click here to add a Contestant:</h2>
				<a href="/addHandlerDogPage" class = "btn-type1">Add Dogs Here</a>
			</div>
			
			<div style = "grid-area: menu2" class = "bubble">
				<h2>Click here to logout:</h2>
				<form th:action="@{/logout}" method="post">
					<input type = "submit" value = "logout">
				</form>
			</div>
			
		</div>
	</div>
	
</body>
</html>